# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
 
# .NET build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
# Visual Studio 
.vs/

# ASP.NET/Entity Framework
*.db
*.mdf
*.ldf

# Logs
*.log

# AI chat agents
.continue/
.lingma/

# Others
TestResults/
*.pid
*.pid.lock
*.lock
*.pdb
*.sqlite
*.sqlite3
# static/images/